.tv-flex-table {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    ul.tv-col {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding-left: 0rem;
        li.tv-col-heading {
            color: lightgray;
        }
        li.tv-col-cell {
            margin: 0.5rem 0.5rem;
            color: lightslategray;
        }
    }
}
